
<form class="form-person">
  <mat-form-field class="form-vorname">
    <mat-label>Vorname</mat-label>
    <input matInput placeholder="Vorname">
  </mat-form-field>

  <mat-form-field class="form-nachname">
    <mat-label>Nachname</mat-label>
    <input matInput placeholder="Nachname">
  </mat-form-field>
  <mat-form-field class="form-datum">
    <mat-label>Datum</mat-label>
    <input matInput placeholder="Datum">
  </mat-form-field>
</form>

<form class="form-date">
  <mat-form-field class="form-date">
    <mat-label>Datum</mat-label>
    <input matInput placeholder="Date">
  </mat-form-field>
</form>

<form class="form-von">
  <mat-form-field class="vonPLZ">
  <mat-label>Von PLZ</mat-label>
  <input matInput placeholder="vonPLZ">
  </mat-form-field>

  <mat-form-field class="vonStrasse">
  <mat-label>Von Straße</mat-label>
  <input matInput placeholder="vonStrasse">
  </mat-form-field>

  <mat-form-field class="vonOrt">
  <mat-label>Von Ort</mat-label>
  <input matInput placeholder="vonOrt">
  </mat-form-field>
</form>

<form class="form-zu">
  <mat-form-field class="zuPLZ">
  <mat-label>Zu PLZ</mat-label>
  <input matInput placeholder="zuPLZ">
  </mat-form-field>

  <mat-form-field class="zuStrasse">
  <mat-label>Zu Straße</mat-label>
  <input matInput placeholder="zuStrasse">
  </mat-form-field>

  <mat-form-field class="zuOrt">
  <mat-label>Zu Ort</mat-label>
  <input matInput placeholder="zuOrt">
  </mat-form-field>
</form>

  <form class="form-amount">
    <mat-form-field class="form-amount">
      <mat-label>Maenge</mat-label>
      <input matInput placeholder="Maenge">
    </mat-form-field>
  </form>

<section>
    <button mat-button placeholder="Absenden">Absenden</button>
</section>

<router-outlet />
